@{ 
    ViewData["title"] = "About";
    ViewData["Header"] = " Welcome to my About Page";
}


 <p>
    This is my about page.
 </p>
<p>
    I Dont know what to say Here this is my first ASP.Net site and it was fun figuring it out.
</p>

