@{
    ViewData["title"] = "Home";
    ViewData["Header"] = " Welcome to my Home Page";
}

<p>This is the home page thanks for viewing.
<p />
<p>
    This is a simple site but its my first ASP.Net
</p>
